snippet cb
	${1:`matchstr(fugitive#head(),'VPRD-\d*')`}: ${2:description}
snippet cbf
	Fixed #CB3-${1:no}: ${2:desc}
snippet cbc
	Changed #CB3-${1:no}: ${2:desc}
snippet h
	Hotfix:
snippet v
	${1:`matchstr(fugitive#head(),'VPRD-\d*')`}: ${2:description}
